<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/static/main-login.css" />

    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table class="label">
        <tr>
          <td class="label">
            Username:
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password:
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>
      <input type="submit">
    <div>
        Don't have you can account register here
        <a class="login-link" href="/signup">signup</a>
    </div>
    </form>
  </body>

</html>
